<%- include('header'); -%>

    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            /* this adds the "card" effect */
            padding: 16px;
            background-color: #f1f1f1;
            float: none;
            margin: 30px auto;
            border-radius: 10px;
        }

        .container-fluid {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            /* this adds the "card" effect */
            padding: 16px;
            border-radius: 10px;
            height: inherit;
            margin: 30px auto;
            background-color:olivedrab;
        }
        .row {
            margin: 20px auto;
        }
    </style>

    <div class="container">
        <div class="container-fluid">
        <div class="container" style="width: 100%">
            <% rows.forEach(row=> { %>
                <div class="card">
                    <h5 class="card-title">
                        <%= row.recipe %>
                    </h5>
                    <p class="card-text">
                        <%= row.description %>
                    </p>
                    <div class="row">
                        <div class= "col-md-1">
                            <img src="/images/generic_person.png" class="right" alt="Manuel Rodrigo" width=40px> 
                        </div>
                        <div class= "col-md-10">
                            <p class="card-text"><small class="text-muted"><%= row.username %></small></p>                    
                        </div>
                        <div class="col-5">
                            <a class="btn btn-primary" href="/cook/session/<%= row.rid %>">Go</a>
                        </div>
                    </div>                   
                </div>
                <% }); %>
        </div>
    </div>
    </div>
    </body>

    </html>