<%- include('header'); -%>
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><%= recipe %> </h5>
                    <p class="card-text"><%= description %> </p>
                    <p class="card-text"><small class="text-muted">By <%= name %> </small></p>
                    <% if(username == name) { %>
                        <a class="btn btn-danger" href="/cook/end/<%= rid %>">End session</a>
                    <% } %>     
                </div>
            </div>
        </div>
        <div class="container">
            <% if (active == 1) { %>
                <form method="POST" action="/cook/session/<%= rid %>">
                    <h3>Chat</h3>
                    <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            <% } %>
        </div>
        <div class="container" id="comments">
            <% rows.forEach((row) => { %>
                <div class="card">
                    <h6 class="card-title"><%= row.username %> </h6>
                    <p class="card-text"><%= row.comment %> </p>
                </div>
            <% }); %>
        </div>
        <script src="/socket.io/socket.io.js"></script> 
        <script>
            var addComment = (comment) => {
                $("#comments").append(`
                    <div class="card">
                        <h6 class="card-title"> ${comment.username} </h6>
                        <p class="card-text"> ${comment.comment} </p>
                    </div>
                `);
            }

            // var socket = io();
            // socket.on('message', addComment);
        </script>
    </body>
</html>